<footer id="contact" class="py-6 pl-6 pr-6 mg:py-6 lg:py-6 md:px-6 bg-pink-500 ">
  <div class="flex justify-between items-center">
      <h3 class="text-white font-light text-xl md:text-2xl leading-tight lg:text-3xl md:leading-loose">
          <a href="https://goo.gl/maps/Ywcrdb2bziw2iage6">india</a> + <a
              href="https://goo.gl/maps/HjgF6V9tBFKpnBTT8">canada</a>
      </h3>
      <ul class="pl-6 md:pl-10 pr-6 md:pr-10">
          <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
            <a href="https://vyakaran.nilenso.com" target="_blank">vyakaran: handbook</a>
          </li>
          <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
              <a href="mailto:hello@nilenso.com">hello@nilenso.com</a>
          </li>

          <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
              <a href="https://twitter.com/nilenso" target="_blank">@nilenso</a>
          </li>

          <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
              <a href="https://github.com/nilenso" target="_blank">github.com/nilenso</a>
          </li>
      </ul>
     
  </div>
</footer>