<header class="nilenso-header">
  <img class="header-logo-image left" src="/images/logo.svg" />
  <!-- <a class="header-link logo-name" href="http://nilenso.com">nilenso</a> -->
  <a class="header-link right page-link rss-link" href="{{ site.subscribe_rss }}" title="subscribe via RSS"><img class="rss-link-image" src="/images/rss.png"></img></a>
  <a class="header-link page-link" href="/blog/archives">Archive</a>
  <a class="header-link page-link active" href="/">Blog</a>
</header>
<div class="clear"></div>
