body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  border-top: 1px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}

.footer {
  text-align: center;
  padding-bottom: 20px;
  font-family: "calluna";
  font-size: 18px;
  margin-top: 30px;
}

.contact-phone-number {
  margin-bottom: 0;
}

.contact-info {
  line-height: 24px;
  padding: 0 10px;
}

.contact-link {
  border-left: 1px dotted #f8337d;
  padding: 0 8px;
}

.contact-link:visited {
  text-decoration: none;
}

.contact-link:first-child {
  border-left: 0;
  padding-left: 0;
}

.contact-address {
  padding-top: 10px;
}
