<header class="py-12 pl-6 pr-8 md:px-12 mg:py-16 lg:py-16 bg-white">
    <nav>
        <div class="md:flex items-center justify-between">
            <a href="https://new.nilenso.com">
                <figure class="w-48">
                    <img src="/images/logo.svg" alt="Logo" class="w-4/5">
                </figure>
            </a>
            <ul class="flex">
                <li>
                    <a href="{{ root_url }}/" class="font-normal text-base leading-tight tracking-wider md:pr-4 lg:pr-8 xl:pr-8 text-black hover:text-pink-500 cursor-pointer">
                        blog
                    </a>
                </li>
                <li>
                    <a href="{{ root_url }}/blog/archives"class="font-normal text-base leading-tight tracking-wider md:pr-4 lg:pr-8 xl:pr-8 text-black hover:text-pink-500 cursor-pointer">
                        archive
                    </a>
                </li> 
                <a class="header-link right page-link rss-link" href="{{ site.subscribe_rss }}" title="subscribe via RSS"><img
                    class="rss-link-image" src="/images/rss.png"></img></a>
                </div>
            </ul>
        </div>
    </nav>
</header>
