---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article class="mb-12">
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="flex justify-between pagination pt-2 pb-2">
    {% if paginator.next_page %}
      <a class="prev pagination-url" href="{{paginator.next_page_path}}">&laquo; Older</a>
    {% endif %}
    <a class="pagination-url" href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next pagination-url" href="{{paginator.previous_page_path}}">Newer &raquo;</a>
    {% endif %}
  </div>
</div>
<!-- <aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside> -->
